<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    
    <head>
        <title>Kyselykone</title>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    </head>
    
    <body>
        <div class="container" style="margin-top: 35px">
            <div class="page-header page-heading">
                <h1 th:text="${poll.title}" class="pull-left">Poll</h1>
                <nav class="navbar navbar-default pull-right">
                    <div class="container-fluid">
                        <ul class="nav navbar-nav">
                            <li><p th:text="${insider}" class="navbar-text"></p></li>
                            <li><a href="/polls">Polls</a></li>
                            <li><a href="/categories">Categories</a></li>
                            <li><a href="/register">Register</a></li>
                            <li><a href="/login">Log in</a></li>
                            <li><a href="/logout">Log out</a></li>
                        </ul>
                    </div>
                </nav>
                <div class="clearfix"></div>
            </div> 
            
            <div th:if="${asker == poll.asker}">
                <form th:action="@{/polls/{id}(id=${poll.id})}" th:method="POST">
                    <div class="form-group">
                        <input class="form-control" name="content" placeholder="Add new option"></input>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Add</button>
                    </div>
                </form>
            </div>
            
             <table class="table table-hover">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th>Votes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="option : ${options}">
                        <td>
                            <h4><span th:text="${option.content}">subject</span></h4>
                        </td>
                        <td>
                            <a th:href="@{/options/{id}/vote(id=${option.id})}" class="btn btn-default" role="button">Vote</a>
                        </td>
                        <td>
                            <h4><span th:text="${option.votes}">subject</span></h4>
                        </td>
                    </tr>
  
                </tbody>
            </table>
        </div>
        
    </body>
    
</html>